<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Nice Kicks! | Sneakers Store</title>
</head>

<body>

    <div class="cabeçalho">
        <div buttons>
            <a href = "login.html"><button id = "loginb" type = "button">Login</button></a>
            <a href = "orders.html"><button id = "cartb" type = "button"><img src="./imgs/cart.png" id = "buttonimg"></button></a>
        </div>
            <a href = "index.html"><img class="logo" src="./imgs/logo.jpeg"></a>
        <div id ="search">
            <form method='post' th:action='@{/index}'>
                <input type="text" name = "search" placeholder="Pesquisar..." id = "barra"/>
                <button type="submit" id= "button"><img src="./imgs/lupa.png" id = "buttonimg"></button>
                <a href= "advanced_search.html" id ="pa">Pesquisa Avançada</a>
            </form>
        </div>
    </div>

    <div class = "registo">
        <h3 th:text = "'O produto ' + ${product} + ' foi encomendado com sucesso !'"></h3>

        <a href = "index.html"><p>Voltar à página inicial</p></a>
        <a href = "orders.html"><p>Ver histórico de encomendas</p></a>
    </div>

    <div class = about>
        <a href = "#"><h1>About this page</h1></a>
    </div>